#particles-js {
    width: 100vw;
    height: 90vh;
    background: #0B2F3A;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
button:focus {
    outline: none !important;
}
body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 15vh;
    color: white;
}
@keyframes fondo {
    from {
        background-color: #290a59;
    }
    to {
        background-color: #0B2F3A;
    }
}
.navbar {
    background-color: !important#0B2F3A;
}
.bg-dark {
    background-color: #0B2F3A!important;
}
a.bg-dark:hover, a.bg-dark:focus, button.bg-dark:hover, button.bg-dark:focus {
    background-color: #0B2F3A !important;
}
.banner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}
#logo {
    width: 40px;
    height: 40px;
}
#stickyNav {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#stickyNav button {
    padding: 1em 0 1em 0;
    background-color: #0B2F3A!important;
    border: none!important;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    letter-spacing: 1px;
}
#stickyNav button:hover {
    color: #B9B9B9;
}
button {
    font-family: 'Roboto Mono', monospace;
    color: white;
}
#log-in, #log-out {
    border-color: white;
    font-family: inherit;
}
#log-in:hover {
    border-color: #C2C2C2;
}
.btn-secondary {
    color: #fff;
    background-color: #0B2F3A;
    border-color: #290A59;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #0B2F3A;
    border-color: #7328ed;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.text-white {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
    text-decoration: none!important;
    text-transform: uppercase;
}
th {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}
td {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}
#comments {
    padding-top: 6vh;
}
.btns_landscape {
    display: none;
}
.btns_portrait {
    display: inline-block;
}
@media only screen and (orientation: landscape) {
    .btns_landscape {
        display: inline-block;
    }
    .btns_portrait {
        display: none;
    }
    #comments {
        padding-top: 10vh;
    }
    #months {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto;
        margin-top: 50px!important;
    }
}
/* Smartphones*/

@media only screen and (min-width: 300px) {
    h5 {
        font-size: 9px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: white;
    }
    h6 {
        font-size: 7px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: white;
    }
    b {
        font-style: italic;
        color: white;
        font-size: 8px;
    }
    .modal-title {
        color: black;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        font-size: 15px;
    }
    #match_day {
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        font-size: 15px!important;
    }
    /* TABLET */
}
@media only screen and (min-width: 760px) {
    h5 {
        color: white;
        font-size: 12px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }
    h6 {
        font-size: 9px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: white;
    }
    b {
        font-style: italic;
        color: white;
        font-size: 15px;
    }
    .modal-title {
        color: black;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        font-size: 18px;
    }
    #match_day {
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        font-size: 18px!important;
    }
}
/* Desktops and laptops ----------- */

@media only screen and (min-width: 978px) {
    h5 {
        color: white;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }
    h6 {
        font-size: 19px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        color: white;
    }
    b {
        font-style: italic;
        color: white;
        font-size: 20px;
    }
    .modal-title {
        color: black;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        font-size: 24px;
    }
    #match_day {
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        font-size: 22px!important;
    }
}
/* Large screens */

@media only screen and (min-width: 1824px) {
    h5 {
        color: white;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }
    b {
        font-style: italic;
        color: white;
        font-size: 28px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .wrapper>* {
        padding: 2em;
    }
    .company-info h3, .company-info ul, .brand {
        text-align: left;
    }
    .modal-title {
        color: black;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        font-size: 25px;
    }
    #match_day {
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        font-size: 25px!important;
    }
}
#btn-login {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
canvas {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1000;
}
.card {
    background-color: transparent!important;
    color: white;
}
#tablaGameData th, td {
    color: white;
}
.navbar-toggler {
    display: none!important;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none!important;
}
button {
    background: none!important;
    border: none;
}
.company-info h3, .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.contact form label {
    display: block;
}
.contact form p {
    margin: 0;
}
.contact form .full {
    grid-column: 1 / 3;
}
.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    border: 1px solid #c9e6ff;
    font-weight: bold;
}
.contact form button:hover, .contact form button:focus {
    background: #92bde7;
    font-weight: bold;
    color: #B9B9B9;
    outline: 0;
    transition: background-color 4s ease-out;
}
.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}
h2 {
    color: white;
    letter-spacing: 1px;
    font-family: 'Staatliches', cursive;
    text-align: center;
}
p, li {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    list-style: none;
    color: white;
}
#maps_landscape {
    display: none;
}
/* ----------------------------------------------
----------- animación principio ----------------
 */

.bounce-out-top {
    -webkit-animation: bounce-out-top 5s both;
    animation: bounce-out-top 3s both;
    position: absolute;
    left: 50%;
}
.text-blur-out {
    -webkit-animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-blur-out 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: absolute;
    left: 40%;
}
@-webkit-keyframes bounce-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    5% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    25% {
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    52% {
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    85% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
        opacity: 0;
    }
}
@keyframes bounce-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    5% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    25% {
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    52% {
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    85% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
        opacity: 0;
    }
}
@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
.modal-body {
    color: black;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}
.btn-danger {
    background-color: red!important;
}
.btn-primary {
    background-color: transparent!important;
    color: white;
    border: solid 1px #5E1EBF;
}
a.btn-primary:hover, a.btn-primary:focus, button.btn-primary:hover, button.btn-primary:focus {
    border: solid 1px #8B60CC;
}
.btn-success {
    border: solid 1px #047743;
}
a.btn-success:hover, a.btn-success:focus, button.btn-success:hover, button.btn-success:focus {
    border: solid 1px #00C66C;
}
#animacion {
    position: absolute;
    width: 70vw;
    height: 30vh;
    top: 40vh;
    margin-left: 15vw;
}
#animacion h2 {
    display: block;
    margin: auto;
    margin-top: 50%;
}
#animacion img {
    display: block;
    margin: auto;
    margin-top: 50%;
}
.wrapper {
    width: 95%;
    margin-left: .5em
}
.wrapper ul {
    list-style-type: none;
    padding-inline-start: 0;
}
#user_image {
    width: 3em;
}
#map_modal {
    width: 100%;
}
.modal-content td {
    color: black!important;
}
.modal-header, .modal-body {
    background-color: white;
}
#comment_text {
    width: 100vw;
}
.comment {
    float: right;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: bold;
}
a {
    color: #8E83EF;
    font-weight: bold;
}
.card-subtitle {
    font-style: italic;
}
#next_match {
    padding-bottom: 0!important;
    line-height: 1 !important;
}
#next_match p {
    margin-bottom: .5em;
}
.table-dark {
    background-color: transparent!important;
}