body{
	/*background-image: url("../images/background.png");
	background-size: contain;
	background-repeat: repeat;*/
	background-color: #88CA5E;
	min-height: 100vh;
	padding-bottom: 15vh;
	max-width: 100vw;
	padding-top: 7vh;
}

#web_app{
	/*max-width: 100vw;
	min-height: 100vh;*/
	padding-top: 1.5vh;
}

#banner{
	width: 100%;
	/*height: 27vh;
	/*max-height: 200px;*/
	background-color: aliceblue;
}

#banner{
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}

#banner span{
	margin: auto;
}

span img{
	width: auto;
	height: auto;
}

#btn-login{
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

footer{
	width: 100%;
	padding: 2%;
}

#stickyNav{
	bottom: 0;
	left: 0;
	position: fixed;
	min-height: 10vh;
	width: 100vw;
	margin: auto;
	padding-top: 5%;
}

#stickyNav div{
	width: 100%;
}

#content {
	min-height: 80%;
}

#carousel img{
	width: 100%;
}

footer {
	position: fixed;
}

#maps_landscape{
	display: none;
}

#months{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.btns_portrait{
	display: inline;
}

.btns_landscape{
	display: none;
}

.chat_btn{
	display: inline;
}

#map_stadium{
	display: none;
	margin: auto;
	padding: inherit;
	max-height: 80%;
}

#map_modal{
	display: block;
	margin: auto;
	padding: inherit;
	max-height: 80%;
}

#tablaGameData{
	display: none;		
}

td{
	background-color: aliceblue;
	vertical-align: middle;
}

.form-group{
	margin-top: 1rem;
}

label{
	padding: 0.5rem;
	width: 100%;
}

#emailLog{
	width: 70%;
}
#passLog{
	margin-left: 3vw;
}

#user_image{
	width: 3rem;
	height: auto;
	border-radius: 2rem;
	display: inline;
	margin-bottom: 5%;
}

.btn-centered{
	display: block;
	margin: auto;
	margin-bottom: 1px;
}

hr{
	background-color: black;
}

#chat-btn{
	width: 50%;
}

#comment_text{
	display: block;
	width: 100%;
}

#btn-comment{
	display: inline-block;
}

/* STYLES LANDSCAPE VIEW */
@media screen and (orientation: landscape){
	body{
		padding-top: 13vh;
	}
	
	#web_app{
		padding-top: 2vh;
	}
	
	#banner div{
	flex-direction: row;
	flex-wrap: wrap;
}
	
	#carousel{
		height: 65vh;
		width: 60vw;
		margin-left: auto;
		margin-right: auto;
	}
	#carousel img{
		height: 100%;
		width: 100%;
	}
	.carousel-inner{
		height: 100%;
	}
	.carousel-item{
		height: 100%;
	}
	.carousel-item button{
		height: 100%;
	}
	
	.carousel-indicators{
		display: none;
	}
	
	#banner img{
		height: 20vh;
	}
	#banner{
		/*height: 20vh;*/
	}
	#udr_dev{
		height: 40vh;
		width: 40vw;
		margin-left: 30vw;
	}
	#udr_dev img{
		height: 100%;
		width: auto;
	}
	.udr_const{
		padding-left: 2vw;
		padding-right: 2vw; 
	}
	
	#months{
		flex-direction: row;
		min-height: 50vh;
	}
	
	#months_cards{
		width: 50%;
		margin: auto;
	}
	
	#maps_landscape{
		display: inline;
		width: 50%;
		height: 100%;
		max-height: 60vh;
		position: sticky;
		top: 0;
	}
	
	.btns_landscape{
		display: inline;
	}
	
	.btns_portrait{
		display: none;
	}
	
	#stickyNav{
	bottom: 0;
	left: 0;
	position: fixed;
	min-height: 10vh;
	width: 100vw;
	margin: auto;
	padding-top: 0;
	}

	#stickyNav div{
		width: 100%;
	}
}